#CONTAINER {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}
label {
    font-weight: bolder;
}
#STYLE {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#STYLE::-webkit-color-swatch {
        border-radius: 15px;
        border: none;
}        
#STYLE::-moz-color-swatch {
        border-radius: 15px;
        border: none;
}